@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  /* Solution codes display and flex-direction: column;; */
}

img {
  width: 600px;
  /* display: flex;
  align-self: center; */
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* padding: 10px; */
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  /* margin-bottom: 16px; */
}

/* ul  */
  /* list-style-type: none;
  text-align: center;
  display: flex;
  gap: 20px; */


/* a */
  /* text-decoration: none;
  all: unset;
  display: flex; */


/* .header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: inherit;
  margin-left: -20px;
} */

/* .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: inherit;
  gap: 5px;
} */

/* .footer {
 bottom: 0;
 position: fixed;
 display: flex;
 justify-content: space-between;
 background-color: #eeeeee;
 padding: 5px;
 width: inherit;
 margin-left: -20px;
} */

/* The commented codes are the solutions that I made for this exercise */

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

/* These codes are the solutions to this exercise */